canvas {
    width: 100vw;
    height: 56.25vw;
    max-height: 90vh;
    max-width: 162vh;
    background-color: #AAAAAA;
}

button {
    display: inline-block;
    width: 25vw;
    height: 8vw;
    max-height: 8vh;
    max-width: 24vh;
    font-size: 6vh;
    background-color: #CCCCCC;
}